.header-pages{
    margin: 0;
}

.card-title-header{
    width: 40%;
}

.header-icon-point {
    cursor: pointer;
}

.card-sub-title-header{
    width:60%;
}

.card-actions-buttons-header{
    width: 100%;
    text-align: right;
}

.buttom-back{
    cursor: pointer;
}

.size-arrow-back-header{
    cursor: pointer;
    font-size: 30px;
    vertical-align: middle;
    font-weight: 600;
}

.header-subtitle {
 font-size: 18px;
}